.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  align-content: space-around;
}

.item {
  height: 10rem;
  width: 10rem;
  margin: 2rem;
  background-color: chartreuse;
}
